[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "openesm"]
	path = openesm
	url = https://github.com/openesm-project/openesm-r
